<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (ViewBag.Action == null)
    {
        <title> Customer API </title>
    }
    else
    {
        <title> Customer API- @ViewBag.Action </title>
    }
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/exampleGlobals");
    <style>
        .navbar {
            background-color: #000099;
        }
        table {
            border-collapse: separate;
            border-spacing: 5px;
        }
    </style>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Customer API</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Home/Get">Get</a></li>
                    <li><a href="/Home/Post">Post</a></li>
                    <li><a href="/Home/Put">Put</a></li>
                    <li><a href="/Home/Patch">Patch</a></li>
                    <li><a href="/Home/Delete">Delete</a></li>
                    <li><a href="/Help">Documentation</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year John Bontjes</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>$(".navbar a").css("color", "#CCCCCC");</script>
</body>
</html>
